.content__chats__resources_resources_reources {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.website-block {
    width: 282px;
    height: 55px;
    border: none;
    background: #92e599;
    display: flex;
}

.website-block span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    color: #ffffff;
    background: rgb(111, 200, 111);
    height: 55px;
    width: 55px;
}

.website-block p {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 17px 0px 0px 10px;
}
.Communitycomponent-title {
    margin: 35px 0 25px;
    color: #a7b0c2;
    font-size: 24px;
    font-weight: 700;
}
@media screen and (max-width: 350px) {
    .website-block p {
        font-size: 14px;
    }
}
