.organization__content {
    display: flex;
    justify-content: space-between;
    background: #f1f4f9;
    margin-bottom: 2px;
    padding: 21px;
}
.content__info__one {
    display: flex;
    align-items: center;
}
.content__info__two {
    display: flex;
    align-items: center;
}
.info__logo img {
    width: 32px;
    height: 32px;
}
