.job-list-container {
    font-family: Arial, Helvetica, sans-serif;
}
.logo-office p {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #a7b0c2;
    margin-bottom: 2px;
}
.logo-office h2 {
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    color: #191f5d;
}
.logo-office {
    display: flex;
    background: #f1f4f9;
    padding: 5px;
    height: 55px;
    gap: 10px;
}
/* .logo-office img {
    max-width: 50%;
    max-height: 100%;
} */
.job__organization {
    margin: 20px 0px;
}
.job__salary {
    margin: 20px 0px;
}
.job__type {
    margin: 20px 0px;
}
.job__description {
    margin: 20px 0px;
}
.job__contact__info {
    margin: 20px 0px;
}
.job__organization h4 {
    font-size: 14px;
    color: #a7b0c2;
    margin-bottom: 2px;
}
.job__organization p {
    color: #191f5d;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.job__salary h4 {
    font-size: 14px;
    color: #a7b0c2;
    margin-bottom: 2px;
}
.job__salary p {
    color: #191f5d;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.job__type h4 {
    font-size: 14px;
    color: #a7b0c2;
    margin-bottom: 2px;
}
.job__type p {
    color: #191f5d;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.job__description h4 {
    font-size: 14px;
    color: #a7b0c2;
    margin-bottom: 2px;
}
.job__description p {
    color: #191f5d;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.job__contact__info h4 {
    font-size: 14px;
    color: #a7b0c2;
    margin-top: 20px;
    margin-bottom: 2px;
}
.job__contact__info p {
    color: #191f5d;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.delete-button {
    background-color: red;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-top: 50px;
}
