.vacancies__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.jobs-item {
    display: flex;
    flex-direction: column;
    background: #f1f4f9;
    color: #191f5d;
    margin-bottom: 2px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.content {
    max-width: 1176px;
    margin: 0 auto;
    width: 100%;
    padding: 21px;
}

.information {
    display: flex;
    flex-wrap: wrap;
}

.jobs-item-field {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-bottom: 10px;
}

.jobs-item-field.icon {
    flex: 0 0 70px;
    justify-content: center;
}

.jobs-item-field.icon .image {
    width: 50px;
    height: 50px;
    border-radius: 2px;
}

.jobs-item-field.company {
    flex: 0.3;
}

.jobs-item-field.position {
    flex: 1;
}

.jobs-item-field.price {
    flex: 1;
}

.jobs-item-field.type {
    flex: 1;
}
.label p {
    color: #a7b0c2;
    font-size: 14px;
    left: 0px;
}

@media (min-width: 0) and (max-width: 900px) {
    .jobs-item-field.company {
        justify-content: flex-start;
        left: 0px;
    }
    .jobs-item .information {
        flex-wrap: wrap;
    }

    .jobs-item .information .jobs-item-field {
        flex: 0 0 50%;
    }

    .jobs-item .jobs-item-field.icon {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 0) and (max-width: 576px) {
    .content {
        padding: 10px;
    }

    .jobs-item .jobs-item-field {
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .jobs-item .information .jobs-item-field {
        flex: 0 0 100%;
    }

    .jobs-item .jobs-item-field.icon {
        align-items: flex-start;
        flex: 0 0 50px;
    }
}

.company-logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.company-logo .logo {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    object-fit: contain;
}
