.VacancyList_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 976px;
    padding: 21px;
    background: #f1f4f9;
  }
  
  .VacancyList-title {
    color: #a5a3a3;
    font-size: 16px;
  }
  
  .VacancyList-name,
  .VacancyList-office,
  .VacancyList-price,
  .VacancyList-type {
    color: #191f9d;
    font-size: 18px;
  }
  