.hero__content-h1 {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #a7b0c2;
    font-weight: 700;
    transition: opacity 0.2s;
    margin-top: 45px;
}
.hero__logo {
    background: url("https://devkg.com/images/events/3f939781ea355bb5cb8ef28c7148ec70.webp")
        center;
    background: #c2a7a7;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1176px;
    margin: 0 auto;
    width: 100%;
    padding: 21px;
    margin-top: 30px;
}

.hero__logo__text p {
    color: #fff;
    font-weight: 700;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
}
.hero__logo__text h2 {
    color: #fff;
    font-size: 34px;
    letter-spacing: 0.03em;
    padding-right: 80px;
    flex: 1 1 100%;
    margin-bottom: 20px;
    margin-top: 180px;
}
.hero__logo__organizer {
    display: flex;
    align-items: center;
    gap: 60px;
    color: #fff;
}
.hero-organizer p {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 2px;
}
.hero-organizer h4 {
    font-family: proxima-nova, sans-serif;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
}
