.hero {
    max-width: 100%;
}

.hero__content-h1 {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #a7b0c2;
    font-weight: 700;
    transition: opacity 0.2s;
    margin-top: 45px;
}
.hero__logo {
    background: #6e6c6c;
    margin-top: 30px;
    max-width: 100%;
    right: 21px;
    height: 440px;
}

.hero__logo img {
    filter: blur(11px);
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    width: 61%;
    height: 435px;
}

.hero__logo__text p {
    color: #fff;
    font-weight: 700;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    z-index: 2;
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 50px;
    padding: 21px;
}
.hero__logo__text h2 {
    color: #fff;
    font-size: 34px;
    letter-spacing: 0.03em;
    padding-right: 80px;
    flex: 1 1 100%;
    margin-bottom: 20px;
    margin-top: 60px;
    z-index: 2;
    position: relative;
}
.hero__logo__organizer {
    display: flex;
    gap: 60px;
    color: #fff;
    margin-top: 280px;
    margin-left: 20px;
    padding: 21px;
}

.hero-organizer p {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
    z-index: 2;
    position: relative;
}
.hero-organizer h4 {
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: relative;
}
.hero-location p {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
    z-index: 2;
    position: relative;
}
.hero-location h4 {
    font-family: proxima-nova, sans-serif;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: relative;
}
@media screen and (max-width: 1445px) {
    .hero__logo img {
        width: 81%;
    }
}

@media screen and (max-width: 500px) {
    .hero__logo__text h2 {
        font-size: 30px;
    }
    .hero__logo__text p {
        font-size: 16px;
    }
    .hero__logo__organizer p {
        font-size: 13px;
    }
    .hero__logo__organizer h4 {
        margin-top: 0px;
        font-size: 17px;
    }
    .hero__logo__text p {
        margin-top: 10px;
    }
    .hero__logo__text h2 {
        margin-top: 5px;
    }
    .hero__logo__text p {
        display: flex;
        justify-content: flex-end;
    }
    .hero__logo__organizer {
        flex-direction: column;
        gap: 0px;
    }
    .hero__content-h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    .hero__logo {
        max-width: 80%;
    }
}
