* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AddVacancy_content {
  display: flex;
  width: 100%;
}

.left-add-vacancy_wrapper {
  width: 225px;
  background-color: #fff;
  padding: 23px 34px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.logo {
  width: 104px;
  height: 38px;
  display: flex;
  align-items: center;
}

.logo b {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  width: 80%;
  height: 130%;
}

.menu {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
  color: #a7b0c2;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.2s;
}

.menu a:hover {
  color: black;
}

.exit {
  margin-top: auto;
  cursor: pointer;
  text-decoration: none;
  color: #a7b0c2;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 80px;
  left: 70px;
}

.exit:hover {
  color: #191f5d;
}

.right-add-vacancy_wrapper {
  padding: 32px;
  margin-left: 275px;
  width: calc(100% - 275px);
}

.main-blocks {
  display: flex;
  gap: 30px;
}

.head-title {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.title-description {
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: #191f5d;
  margin-bottom: 40px;
  margin-right: 38px;
}

.organization,
.office,
.description,
.contact {
  font-size: 16px;
  font-weight: 700;
  color: #a7b0c2;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.right-add-vacancy_wrapper input,
.multiselect__content {
  padding: 12px 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 466px;
}

.multiselect__content {
  background-color: #f1f4f9;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-buttons button {
  font-weight: 700;
  font-size: 14px;
  height: 38px;
  padding: 0 25px;
  min-width: 145px;
  border: none;
  background: #e5e5e5;
  color: #191f5d;
  cursor: pointer;
  outline: none;
}

.form-buttons button:hover {
  color: #e5e5e5;
  background: #191f5d;
}

.officeVacancy,
.typeVacancy,
.telegramVacancy,
.descriptionVacancy {
flex-direction: row;
display: flex;
gap: 12px;
}

.officeVacancy p,
.typeVacancy p,
.telegramVacancy p,
.descriptionVacancy p {
  color: #a7b0c2;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
