.JobOpenings_content {
    display: flex;
    justify-content: flex-end;
}

.vacancy-btn {
    display: block;
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6fcf97;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}
