*{
  margin: 0;
  padding: 0;
}
.btn-vk {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.btn-vkv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2pc;
}
.btn-vk button {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.vakansii-product {
  display: flex;
  align-items: center;
  gap: 1pc;
}
.vakansii-bgr {
  padding: 1px 0;
  background: #f1f4f9;
  margin-top: 1pc;
}




.vakansii-product img {
  width: 70px;
  height: 70px;
}

.text-vk {
  display: flex;
  gap: 7pc;
}
.text- h4,
span {
  color: #a7b0c2;
}
.text-vk h4 {
  color: #000;
  font-size: 15px;
}

.vakansii-bgr h4{
  width: 170px;
}