* {
  padding: 0;
  margin: 0;
}
/* .container {
  width: 90%;
  margin: 0 auto;
 }   */
.btn-vk {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.add-viv {
  margin: 50px 0;
  padding: 30px;
  width: 95%;
  height: 400px;
  background: linear-gradient(147.89deg, rgb(72, 198, 239) -31.07%, rgb(111, 134, 214) 128.49%);
  
}
.mainBlock{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 250px;
}
.mainBlock h4 {
  color:white;
}
.mainBlock h1 {
  color:white;
}
.mainBlock p {
  color:white;
}
.text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;  
}
.textInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}